@model CMSS.ViewModel.MultiModelVM

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h4 class="text-center">Customer Info</h4>
<hr />
<div class="d-flex justify-content-center align-items-start min-vh-100 pt-5">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.Name" class="control-label"></label>
                        <input asp-for="CustomerInfo.Name" id="Name" class="form-control" />
                        <span asp-validation-for="CustomerInfo.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.Number" class="control-label"></label>
                        <input asp-for="CustomerInfo.Number" id="Number" class="form-control" />
                        <span asp-validation-for="CustomerInfo.Number" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.Email" class="control-label"></label>
                        <input asp-for="CustomerInfo.Email" id="Email" class="form-control" />
                        <span asp-validation-for="CustomerInfo.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.Note" class="control-label"></label>
                        <input asp-for="CustomerInfo.Note" id="Note" class="form-control" />
                        <span asp-validation-for="CustomerInfo.Note" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.city" class="control-label">Select City</label>
                        <select asp-for="CustomerInfo.city" class="form-control" id="city">
                            @foreach(var city in ViewBag.CityList)
                            {
                                <option value="@city.Value">@city.Name</option>
                            }                            
                        </select>
                        <span asp-validation-for="CustomerInfo.city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerInfo.Address" class="control-label"></label>
                        <input asp-for="CustomerInfo.Address" id="Address" class="form-control" />
                        <span asp-validation-for="CustomerInfo.Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h4 class="text-center">Parcel Info</h4>
            <hr />
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParcelInfo.ParcelType" class="control-label">Select Parcel Type</label>
                        <select asp-for="ParcelInfo.ParcelType" class="form-control" id="city">
                            @foreach (var type in ViewBag.ParcelList)
                            {
                                <option value="@type.Value">@type.Name</option>
                            }
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParcelInfo.Weight" class="Control-label">Weight</label>
                        <input asp-for="ParcelInfo.Weight" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParcelInfo.Price" class="Control-label">Price</label>
                        <input asp-for="ParcelInfo.Price" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParcelInfo.Note" class="Control-label">Note</label>
                        <input asp-for="ParcelInfo.Note" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ParcelInfo.DelivaryDate" class="Control-label">Delivary Date</label>
                        <input asp-for="ParcelInfo.DelivaryDate" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Sender ID</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Receiver ID</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
            <div class="text-center">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>

        
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}