@model CMSS.DataModel.CustomerInfo

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h4 class="text-center">Customer Info</h4>
<hr />
<div class="d-flex justify-content-center align-items-start min-vh-100 pt-5">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" id="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" id="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" id="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Note" class="control-label"></label>
                        <input asp-for="Note" id="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="city" class="control-label">Select City</label>
                        <select asp-for="city" class="form-control" id="city">
                            <option value="">Select a city</option>
                            <option value="dhaka">Dhaka</option>
                            <option value="chittagong">Chittagong</option>
                            <option value="khulna">Khulna</option>
                            <option value="rajshahi">Rajshahi</option>
                            <option value="sylhet">Sylhet</option>
                            <option value="barisal">Barisal</option>
                            <option value="rangpur">Rangpur</option>
                            <option value="mymensingh">Mymensingh</option>
                            <option value="comilla">Comilla</option>
                            <option value="narayanganj">Narayanganj</option>
                            <option value="coxsbazar">Cox's Bazar</option>
                            <option value="gazipur">Gazipur</option>
                            <option value="tangail">Tangail</option>
                            <option value="bogura">Bogura</option>
                            <option value="noakhali">Noakhali</option>
                            <option value="feni">Feni</option>
                            <option value="jessore">Jessore</option>
                            <option value="pabna">Pabna</option>
                            <option value="Kushtia">Kushtia</option>

                        </select>
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" id="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h4 class="text-center">Parcel Info</h4>
            <hr />
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Parcel Type</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Weight</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Price</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Note</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Delivary Date</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Sender ID</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="Control-label">Receiver ID</label>
                        <input class="form-control">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
            <div class="text-center">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>

        
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
