@{
    ViewData["Title"] = "Home Page";
    //Layout = "_Layout.cshtml";
    //<partial name="_Layout.cshtml" model="Model"/>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
